[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
requests-mock = "*"
coverage = "*"
pytest = "*"

[packages]
flask = "*"
requests = "*"
flask-mysql = "*"
cryptography = "*"
wait-for-it = "*"

[requires]
python_version = "3.9"
