{% extends 'base.html' %}
{% block content %}
<div id="spinner" style="display: none"></div>
<form class="updateForm" action="{{ url_for('repo_list.update') }}" method="post">
    <label for="repo_count">Repos to Display:</label>
    <input type="number" id="repo_count" name="repo_count" value="{{repo_count}}">
    <br>
    <label for="updateCheckbox">Update Repo Database:</label>
    <input type="checkbox" id="updateCheckbox" name="updateCheckbox"/>
    <br>
    <input class="updateButton" type="submit" value="Update Repo List" onclick="loading();"/>
</form>
<hr/>
<table class="repoTable">
    <tr>
        <th>Repo ID</th>
        <th>Repo Name</th>
        <th>URL</th>
        <th>Created</th>
        <th>Last Push</th>
        <th>Description</th>
        <th>Stars</th>
    </tr>
    {% for repo in repo_list %}
    <tr>
        <td><a href="{{ url_for('repo.get_repo', repo_id=repo['repo_id']) }}">{{
            repo['repo_id']
            }}</a></td>
        <td>{{ repo['repo_name'] }}</td>
        <td><a href="{{ repo['url'] }}">{{ repo['url'] }}</a></td>
        <td>{{ repo['created'] }}</td>
        <td>{{ repo['last_push'] }}</td>
        <td>{{ repo['description'] }}</td>
        <td>{{ repo['num_stars'] }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}